server {{ openvpn_server_subnet | ansible.utils.ipaddr('network') }} {{ openvpn_server_subnet | ansible.utils.ipaddr('netmask') }}
dev {{ openvpn_server_interface }}
port {{ openvpn_remote_port }}
proto {{ openvpn_remote_protocol }}
ca {{ openvpn_easyrsa_pki }}/ca.crt
cert {{ openvpn_easyrsa_pki }}/issued/{{ ansible_hostname }}.crt
key {{ openvpn_easyrsa_pki }}/private/{{ ansible_hostname }}.key
dh {{ openvpn_easyrsa_pki }}/dh.pem
topology subnet
{% for route in openvpn_server_push_routes %}
push "route {{ route | ansible.utils.ipaddr('network') }} {{ route | ansible.utils.ipaddr('netmask') }}"
{% endfor %}
{% if openvpn_server_name_server is defined %}
push "dhcp-option DNS {{ openvpn_server_name_server }}"
{% endif %}
{% if openvpn_server_name_server is defined %}
push "dhcp-option DOMAIN {{ openvpn_server_domain_name }}"
{% endif %}
client-to-client
keepalive 10 120
user {{ openvpn_server_user }}
group {{ openvpn_server_group }}
persist-key
persist-tun
verb 3
status /tmp/openvpn-server-status-{{ openvpn_server_interface }}
{% if openvpn_tls_auth %}
tls-auth {{ openvpn_easyrsa_pki }}/ta.key 0
{% endif %}
